@media (max-width: 540px) {

    /* .botao{
        display: initial;
    } */
    body{
        width: 100%;
    }

    .menu {
        height: 10vh;
        justify-content: space-around;
    }

    .logo {
        display: none;
    }

    .area-itens {
        margin-top: 10px;
        /* margin-right: 25px; */
        /* font-size: 70%; */
    }

    .item{
        scale: 0.50;
    }
    .icon{
        /* width: 20px; */
        display: none;
    }

    .topo{
        background-size: contain;
        height: 25vh;
    }

    .info{
        font-size: 70%;
    }

    .conteudo{
        height: 400px;
    }
    .video{
        height: 100%;
    }

    .hist{
        height: 400px;
        justify-content: space-evenly;
    }

    .hist-info{
        scale: 0.50;
    }

    .caixa{
        scale: 0.50;
    }

    .cemil{
        scale: 0.50;
    }

    footer-info{
        padding-right: 100px;
    }

    .link{
        scale: 0.1;
    }

    .canudo{
        height: 6px;
    }
}