@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&family=Montserrat:wght@300&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

/*Breakpoint 786 pixels de largura*/

* {
    margin: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-image: linear-gradient(#732E1F, #491F19);
}

body::-webkit-scrollbar-thumb {
    background-image: repeating-linear-gradient(45deg, red, red 10px, #fff 10px, #fff 20px);
    border-radius: 30px;
}

body {
    overflow-x: hidden;
    cursor: url(img/caixa.png), auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 50px;
    width: 100%;
    background-color: red;
    position: sticky;
    top: 0;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
}

.nav-title {
    font-family: 'DynaPuff', cursive;
    color: #cf2a3a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fefcfd;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #c10000;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(45vh - 50px);
        overflow-y: auto;
    }
}

/* .menu {
    display: flex;
    justify-content: space-evenly;
    max-height: 100px;
    max-width: 100%;
    background-color: red;
    position: sticky;
    top: 0;

    /*Para funcionar no safari*/
/* position: -webkit-sticky;
} */

/* .area-itens {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
    height: 100%;
    min-width: 30vw;
}

.item {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 35px;

}

.item:hover {
    /* background-color: black; */
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgb(238, 0, 0);
    color: #ff9f1a;
    border-radius: 20px;
} */ 

.icon {
    height: 75%;
}

.icon img {
    width: 50px;
    height: 50px;
}

.topo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/chocomil-cemil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.info {
    width: 25vw;
    margin-right: 15vw;
    font-family: 'DynaPuff', cursive;
    color: #ff9f1a;
    font-size: 45px;
}

.video {
    aspect-ratio: 16/9;
}

.legenda {
    width: 25vw;
    margin-top: 6vh;
    margin-left: 2vw;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    font-size: 25px;
    color: rgb(236, 236, 236);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, rgba(71, 21, 12, 1), rgba(107, 49, 39, 1));
    width: 100%;
    height: 110vh;
}

.hist-info {
    width: 25vw;
    margin-right: 15vw;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    font-size: 25px;
    color: rgb(236, 236, 236);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: rgb(20, 20, 20);
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55vw;
    height: 40vh;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    font-size: 25px;
    color: rgb(180, 180, 180);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.link {
    width: 10vw;
    padding-bottom: 5vh;
    scale: 0.15;
}

.canudo {
    width: 100%;
    height: 12px;
    background-image: repeating-linear-gradient(45deg, red, red 10px, #fff 10px, #fff 20px);
}