@media (max-width:768px) {
    .area-itens {
        font-size: 15px;
    }

    .item:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .topo {
        justify-content: flex-start;
    }

    .info {
        margin-left: 2vw;
        font-size: 35px;
    }

    .legenda {
        width: 35vw;
        font-size: 20px;
        margin-top: 25vh;
    }

    .hist {
        height: 100vh;
    }

    .hist-info {
        width: 50vw;
        font-size: 20px;
    }

    .footer {
        height: 25vh;
    }
}